name: CI

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    name: 'Build and Push Docker Image'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate SHA
        id: generate_sha
        run: |
          SHA=$(echo $GITHUB_SHA | head -c7)
          echo "sha=$SHA" >> $GITHUB_OUTPUT

      - name: Build docker image
        run: docker build -t jinbok/nwl.journey.api:${{ steps.generate_sha.outputs.sha }} .

      - name: Push docker image
        run: |
          docker push jinbok/nwl.journey.api:${{ steps.generate_sha.outputs.sha }}
          docker tag jinbok/nwl.journey.api:${{ steps.generate_sha.outputs.sha }} jinbok/nwl.journey.api:latest
          docker push jinbok/nwl.journey.api:latest